.bg{
    height: 500px;
    width: 85%;
}
.about-header{
    font-size: 6em;
    letter-spacing: 1px;
    color: #ff764d;
}
.para{
    width: 60%;
}
.links{
    text-decoration: none;
}

.grid-box{
    height: 100vh;
position: relative;
}
.grid-one{
    background-color: #fbffa7;
    height: 100vh;
    
}
.grid-image{
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 2;
}
.able-grid{
    background-color: #b6ffc0;
    height: 100vh;
}
.able-grids{
    
    height: 100vh;
}
.grids{
    height: 100vh;
}
.gridss{
    height: 100vh;
    width:85%;

     background-color: #d5b3ff;
}
.grid-img{
    width: 50%;
}
.grid-imgs{
    height: 100%;
    width: 45%;
    z-index: 2;
}
video{
    height: 40%;
    width: 40%;
}
.ableGrid-images{
    height: 100%;
    width: 65%;
}

.ableGrid-imagess{
    height: 100%;
    width: 70%;
    position: absolute;
    left: -15%;
}
.ableGrid-images img{
    height: 40%;
    width: 65%;
}

.ableGrid-imagess img{
    height: 50%;
    width: 65%;
}
.ableStudio{
height: 75%;
width: 45%;
position: absolute;
top: 21%;
right: -7%;

}
.ableStudios{
    height: 75%;
width: 50%;
position: absolute;
top: 14%;
right: -9%;
}
.ableStudio img{
    height: 100%;
    width: 100%;
}

.ableStudios img{
    height: 100%;
    width: 100%;
}
.grid{
    height: 100vh;
}
.images{
    height: 71%;
    width: 100%;
}
.images img{
    height: 71%;
    width: 87%;
}
.gridPurp{
    background-color: #d5b3ff;
    height: 100vh;
    width: 80%;
}

.gridPurp-img img {
    width: 51%;
}
.gridPurp-imgs img{
    
    width:57%;
}
.gridPurp-img{
position: absolute;   
top: 10%;
right: -25%;

 }
   .gridPurp-imgs{
    position: absolute;
    top: 20%;
    right: 13%;
    
   }

.gridPurpCol1{
    width: 65%;
}
.gridPurpCol2{
    width: 65;
}
.gridsOne{
    height: 100vh;
    width: 100%;
}
.gridsTwo{
    background-color: #b1c5ff;
}
.gridsOne-img img{
height: 100%;
width: 100%;
}
.gridsOne-img{
    height: 100vh;
    width: 100%;
}
.fb{
    color: blue;
}
.tweet{
    color: #b1c5ff;
}
.tube{
    color: red;
}
.insta{
    color: #ff764d;
}

.job-header{
    color: #b6ffc0;
    letter-spacing: 1px;
    
}
.footer-box{
    height: 170vh;
}